@model Judge.Application.ViewModels.Contests.ContestResult.ContestResultViewModel
@{
    ViewBag.Title = Model.Contest.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Contests/_ContestHeader", Model.Contest)

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Место</th>
                <th>Участник</th>
                @foreach (var task in Model.Tasks)
                {
                    <th class="task">
                        @Html.ActionLink(task.Label, "Task", new { contestId = Model.Contest.Id, label = task.Label })
                    </th>
                }
                <th>Решено</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Place</td>
                    <td>@user.UserName</td>
                    @foreach (var task in Model.Tasks)
                    {
                        var s = user.TryGetTask(task.ProblemId);
                        var css = string.Empty;

                        if (s?.FirstSolved is true)
                        {
                            css = "bg-info";
                        }
                        else if (s?.Solved is true)
                        {
                            css = "bg-success";
                        }
                        else if (s?.Solved is false)
                        {
                            css = "bg-danger";
                        }

                        <td class="task @css">
                            @if (s != null)
                            {
                                <span>@s.GetAttempts()</span>
                                <br />
                                <small>@s.GetLabel()</small>
                            }
                        </td>
                    }
                    <td>@user.SolvedCount</td>
                    <td>@user.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>