@model Judge.Application.ViewModels.Contests.ContestTasks.ContestTasksViewModel
@{
    ViewBag.Title = Model.Contest.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Contests/_ContestHeader", Model.Contest)

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N</th>
                <th>@Resources.TaskName</th>
                <th>@Resources.Solved</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@Html.ActionLink(task.Label, "Task", new { contestId = Model.Contest.Id, label = task.Label })</td>
                    <td>@Html.ActionLink(task.Name, "Task", new { contestId = Model.Contest.Id, label = task.Label })</td>
                    <td>
                        @if (task.Solved)
                        {
                            <span class="glyphicon glyphicon-ok"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>