@model Judge.Application.ViewModels.Contests.ContestsList.ContestItem

<div>
    <ul>
        <li>@Resources.ContestStart: @Model.StartTime @Html.Partial("Countdown", Model.StartTime)</li>
        <li>@Resources.ContestDuration: @Model.GetDurationTimeString()</li>
        @if (Model.HasAdditionalRules)
        {
            <li>@Model.GetAdditionalRules()</li>
        }
    </ul>
    <div class="well well-sm text-center">
        @Html.ActionLink(Resources.Tasks, "Tasks", "Contests", new { id = Model.Id }, null)
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        @Html.ActionLink(Resources.ContestResults, "Results", "Contests", new { id = Model.Id }, null)
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        @(Model.IsStarted ? Model.GetLeftTimeString() : Model.TextStatus)
    </div>
</div>