@model Judge.Application.ViewModels.Submit.SubmitQueueViewModel

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Автор</th>
                <th>Задача</th>
                <th>Язык</th>
                <th>Результат</th>
                <th>Тестов пройдено</th>
                <th>Время работы</th>
                <th>Тестов пройдено</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submits)
            {
                <tr>
                    <td>
                        @item.SubmitTime
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.ProblemName
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.ResultDescription
                    </td>
                    <td>
                        @item.TotalMilliseconds
                    </td>
                    <td>
                        @item.TotalBytes
                    </td>
                    <td>
                        @item.PassedTests
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
