@model Judge.Application.ViewModels.Submit.SubmitSolutionViewModel

@using (Ajax.BeginForm("SubmitSolution",
                "Problems",
                null,
                new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "submit-container", InsertionMode = InsertionMode.ReplaceWith },
                new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(o => o.ProblemId)
    <div class="panel panel-default">
        <div class="panel-heading">@Resources.SubmitSolution</div>
        <div class="panel-body">
            <p>
                @Resources.Language: @Html.DropDownListFor(
                    o => o.SelectedLanguage,
                    Model.Languages.Select(o => new SelectListItem { Text = o.Name, Value = o.Id.ToString() }),
                    new { @class = "form-control" }
                    )
            </p>
            <p>
                @Resources.File: <input type="file" name="File" id="File" class="form-control" />
                @Html.ValidationMessageFor(o => o.File)
            </p>
            <p>
                <input type="submit" value="@Resources.SubmitSolution" class="btn btn-success" />
            </p>
            <p>
                @if (Model.Success)
                {
                    @Resources.SolutionSubmited
                }
            </p>
        </div>
    </div>
}
<script type="text/javascript">
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);
</script>