@model Judge.Application.ViewModels.Submit.SubmitQueueViewModel

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.Date</th>
                <th>@Resources.Author</th>
                <th>@Resources.Task</th>
                <th>@Resources.Language</th>
                <th>@Resources.Result</th>
                <th>@Resources.PassedTests</th>
                <th>@Resources.ExecutionTime</th>
                <th>@Resources.AllocatedMemory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submits)
            {
                <tr>
                    <td>
                        @item.SubmitTime
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.ProblemName
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.ResultDescription
                    </td>
                    <td>
                        @item.PassedTests
                    </td>
                    <td>
                        @item.TotalMilliseconds
                    </td>
                    <td>
                        @item.TotalBytes
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
