@using Markdig
@model Judge.Application.ViewModels.Problems.Statement.StatementViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>Ограничение по времени: @Model.TimeLimitSeconds.ToString("F2") секунд</p>
<p>Ограничение по памяти: @Model.MemoryLimitMegabytes.ToString("F2") мегабайт</p>

<div class="well well-sm">
    @Html.Raw(Markdown.ToHtml(Model.Statement))
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="submit-container">
        @Html.Action("SubmitSolution", new { problemId = Model.Id })
    </div>
    <div>
        @Html.Action("UserSubmitQueue", "Submit", new { problemId = Model.Id })
    </div>
}
else
{
    <div>
        @Html.ActionLink("Войдите", "Login", "Account"), что бы отправлять решения
    </div>
}
