@using Markdig
@model Judge.Application.ViewModels.Problems.Statement.StatementViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<h2>@Model.Name</h2>

<p>@Resources.TimeLimit: <b>@Model.TimeLimitSeconds.ToString("F3")</b> @Resources.Seconds</p>
<p>@Resources.MemoryLimit: <b>@Model.MemoryLimitMegabytes.ToString("F3")</b> @Resources.Megabytes</p>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Result</h4>
            </div>
            <div class="modal-body">
                <pre></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div>
    </div>
</div>

<div class="well well-sm" id="statement">
    @Html.Raw(Markdown.ToHtml(Model.Statement, pipeline))
</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="submit-container">
        @Html.Action("SubmitSolution", new { problemId = Model.Id })
    </div>
    <div id="submit-queue">
        @Html.Action("UserSubmitQueue", "Submit", new { problemId = Model.Id })
    </div>
}
else
{
    <div>
        @Html.ActionLink(Resources.Enter, "Login", "Account", new { returnUrl = Request.Url.ToString() }, null), @Resources.ToSubmitSolutions
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(function() {
            setInterval(function() { $('#submit-queue').load('/Submit/UserSubmitQueue', { problemId: @Model.Id }); }, 3000); // every 3 sec
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $('#modal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);
                var submitResult = button.data('submit-result');
                var modal = $(this);
                modal.find('.modal-body pre').text(submitResult);
            });
        });
    </script>
}
