@model Judge.Application.ViewModels.Problems.Solution.SubmitViewModel

<div class="container well">
    <div class="row">
        <div>
            Статус: @Model.GetStatusDescription()
        </div>
    </div>
    <div class="row">
        <div>
            @Resources.PassedTests: @Model.PassedTests
        </div>
    </div>
    <div class="row">
        <div>
            @Resources.AllocatedMemory: @Model.AllocatedMemory
        </div>
    </div>
    <div class="row">
        <div>
            @Resources.ExecutionTime: @Model.ExecutionTime
        </div>
    </div>
    <div class="row">
        <div>
            Вывод компилятора: @Model.CompileOutput
        </div>
    </div>
    <div class="row">
        <div>
            Результаты запуска: @Model.RunOutput
        </div>
    </div>
    <div class="row">
        <div>
            Результаты выполнения: @Model.RunDescription
        </div>
    </div>
    <div class="row">
        <div>
            UserHost: @Model.UserHost
        </div>
    </div>
    <div class="row">
        <div>
            Session: @Model.SessionId
        </div>
    </div>
</div>