@model Judge.Application.ViewModels.Submit.SubmitSolutionViewModel

@using (Html.BeginForm("SubmitSolution", "Problems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(o => o.ProblemId)
    <div class="panel panel-default">
        <div class="panel-heading">@Resources.SubmitSolution</div>
        <div class="panel-body">
            <p>
                @Resources.Language: @Html.DropDownListFor(
                    o => o.SelectedLanguage,
                    Model.Languages.Select(o => new SelectListItem { Text = o.Name, Value = o.Id.ToString() }),
                    new { @class = "form-control" }
                    )
            </p>
            <p>
                @Resources.File:
                @Html.TextBoxFor(x => x.File, new { type = "file", @class = "form-control", name = "File", id = "File" })
                @Html.ValidationMessageFor(o => o.File)
            </p>
            <p>
                <input type="submit" value="@Resources.SubmitSolution" class="btn btn-success" />
            </p>
            <p>
                @if (Model.Success)
                {
                    @Resources.SolutionSubmited
                }
            </p>
        </div>
    </div>
}