@using System.Globalization
@model Judge.Application.ViewModels.Submit.SubmitQueueViewModel

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.Date</th>
                <th>@Resources.Author</th>
                <th>@Resources.Task</th>
                <th>@Resources.Language</th>
                <th>@Resources.Result</th>
                <th>@Resources.PassedTests</th>
                <th>@Resources.ExecutionTime</th>
                <th>@Resources.AllocatedMemory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submits)
            {
                <tr>
                    <td>
                        @if (item.ResultsEnabled)
                        {
                            @Html.ActionLink(item.SubmitTime.ToString(CultureInfo.CurrentUICulture), "Solution", "Problems", new {submitId = item.SubmitId}, new {target = "_blank"})
                        }
                        else
                        {
                            @item.SubmitTime.ToString(CultureInfo.CurrentUICulture)
                        }
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @Html.ActionLink(item.ProblemName, "Statement", "Problems", new { id = item.ProblemId }, null)
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @if (item.ShowAdditionalResults)
                        {
                            <a href="#" data-toggle="modal" data-target="#modal" data-submit-result="@item.CompileResult">@item.ResultDescription</a>
                        }
                        else
                        {
                            @item.ResultDescription
                        }
                    </td>
                    <td>
                        @item.PassedTests
                    </td>
                    <td>
                        @item.ExecutionTime
                    </td>
                    <td>
                        @item.AllocatedMemory
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>