@model Judge.Application.ViewModels.User.UserViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>Всего: @Model.Total</li>
    <li>Решено: @Model.Solved</li>
</ul>

@foreach (var task in Model.Problems.OrderBy(o => o.Id))
{
    if (task.Solved)
    {
        <span>@Html.ActionLink(task.Name, "Statement", "Problems", new { id = task.Id }, new { @class = "label label-success" })</span>
    }
    else
    {
        <span>@Html.ActionLink(task.Name, "Statement", "Problems", new { id = task.Id }, new { @class = "label label-danger" })</span>
    }
}