@model Judge.Application.ViewModels.Contests.ContestsList.ContestsListViewModel
@{
    ViewBag.Title = Resources.Contests;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.ContestName</th>
                <th>@Resources.ContestStart</th>
                <th>@Resources.ContestDuration</th>
                <th>@Resources.ContestStatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contest in Model.Contests)
            {
                <tr>
                    <td>@Html.ActionLink(contest.Name, "EditContest", new { id = contest.Id }, new { target = "_blank" })</td>
                <td>@contest.StartTime</td>
                <td>@contest.GetDurationTimeString()</td>
                <td>@contest.TextStatus</td>
            </tr>
            }
        </tbody>
    </table>
</div>