@model Judge.Application.ViewModels.Admin.Contests.EditContestViewModel

@{
    ViewBag.Title = Model.IsNewContest ? Resources.CreateNewContest : Resources.EditContest;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(o => o.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FinishTime, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.FinishTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.FinishTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IsOpened, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.IsOpened)
                    @Html.ValidationMessageFor(m => m.IsOpened, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <table id="tasks" class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                Задача
                            </th>
                            <th>
                                Лейбл
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr>
                                @Html.Partial("Admin/Contests/_TaskEditView", task)
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="col-md-10">
                        <input type="button" value="@Resources.Add" class="btn btn-info" id="add" />
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="@Resources.Save" class="btn btn-success" />
                </div>
            </div>
        }
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function() {
            $("#add").click(function() {
                $.get('@Url.Action("Task")',
                    function(data) {
                        $("#tasks > tbody").append('<tr>' + data + '</tr>');
                    });
            });

            $("#tasks").on("click", "td > button", function(){
                $(this).parents("tr").remove();
            });
        });
    </script>
}
