@model List<Judge.Application.ViewModels.Admin.Languages.LanguageEditViewModel>
@{
    ViewBag.Title = Resources.Languages;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h5>@Resources.Templates:</h5>
<ul>
    <li>
        {FileName} - @Resources.FileName
    </li>
    <li>
        {Ext} - @Resources.FileExtensions
    </li>
</ul>

@using (Html.BeginForm())
{
    <table class="table table-condensed" id="languages">
        <thead>
            <tr>
                <th></th>
                <th>@Resources.LanguageName</th>
                <th>@Resources.LanguageDescription</th>
                <th>@Resources.LanguageCompilable</th>
                <th>@Resources.LanguageCompilerPath</th>
                <th>@Resources.LanguageCompilerOptions</th>
                <th>@Resources.LanguageExecutionFile</th>
                <th>@Resources.LanguageRunOptions</th>
                <th>@Resources.LanguageEnabled</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                @Html.Partial("Admin/Languages/_LanguageEditView", item)
            </tr>
        }

    </table>
    <input type="button" value="@Resources.Add" class="btn btn-info" id="add" />
    <input type="submit" value="@Resources.Save" class="btn btn-success" />
    @Html.ValidationSummary()
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function() {
            $("#add").click(function() {
                $.get('@Url.Action("Language")',
                    function(data) {
                        $("#languages > tbody").append('<tr>' + data + '</tr>');
                    });
            });

            $("#languages").on("click", "td > button", function(){
                $(this).parents("tr").remove();
            });
        });
    </script>
}
