@model Judge.Application.ViewModels.Problems.ProblemsList.ProblemsListViewModel

@{
    ViewBag.Title = Resources.ProblemsList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Resources.TaskName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var problem in Model.Problems)
            {
                <tr>
                    <td>@problem.Id</td>
                    <td>
                        @Html.ActionLink(problem.Name, "EditProblem", new { id = problem.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                @Html.ActionLink("«", "Problems", "Admin", new { page = 1 }, null)
            </li>
            @for (var page = Model.Pagination.FirstDisplayPage; page <= Model.Pagination.LastDisplayPage; page++)
            {
                if (Model.Pagination.IsCurrent(page))
                {
                    <li class="active">
                        @Html.ActionLink(page.ToString(), "Problems", "Admin", new { page = page }, null)
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(page.ToString(), "Problems", "Admin", new { page = page }, null)
                    </li>
                }
            }
            <li>
                @Html.ActionLink("»", "Index", "Problems", new { page = Model.Pagination.TotalPages }, null)
            </li>
        </ul>
    </nav>
</div>